* {
    margin: 0;
    padding: 0;
}


.background {
    width: 805px;
    height: 643px;    
    background-color: #3f3cbf;
    display: block;
    margin-left: auto;
    margin-right: auto;
}





  
 
  .align {
    float: left;
    width: 33.33%;
       
    
    
  }

  .name {
    text-align: left;
    padding-left: 1.5em;
    padding-top: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: white;
  }


  .time {
    text-align: right;
    padding-right: 1.5em;
    padding-top: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: white;
  }


  img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
.service {
  
  color:white;
  
}

.test {
  
  padding-top: 130px;
  padding-bottom: 50px;
  text-align: center;
 
}

.test1 {
  border: rgb(192, 251, 255) solid 5px;
}

.action {
  display: flex;
  
  
  
  
}

.box {
  width: 50%;
  text-align: center;
  
}
 
.btn {
  min-width: 278px;
  min-height: 78px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #3f3cbf;
  
}

.primarybtn {
  padding-bottom: 40px;
}

#submit {
  background-color: #df4128;
  color: white;
}